<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{/* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> */}}
    <title>tasks</title>
</head>

<body>
    <img src="templates/images/logo.png" alt="logo" class="image">

    
    <form action="/myacc/today" method="post">
  <label for="title">Write a task:</label><br>
  <input type="text" id="title" name="title" ><br>
  <input type="submit" value="Submit">
    <h1>Todo List</h1>
    <ul id="todo-list">
      {{range .}}
      <li>{{.Title}}</li>
      {{end}}
    </ul>
</form> 

    <form action="/myacc/logout" method="post">
                <button>Logout</button>
    </form>
{{/* <script>
$(document).ready(function() {
  // Make an AJAX request to the server to retrieve the list items.
  $.get('/lists', function(data) {
    // Update the HTML on the page with the list items.
    var listItems = '';
    for (var i = 0; i < data.lists.length; i++) {
      listItems += '<li>' + data.lists[i].title + '</li>';
    }
    $('#todo-list').html(listItems);
  });
});
</script> */}}
</body>
</html>